.sidebar-shrink {
    width: 16rem;
}

.sidebar-expand {
    width: 4rem;
}

.theme-options {
    display: none;
}

.theme-options.active {
    display: block;
}

@media (max-width: 768px) {
    .nav-text {
        font-size: 100em;
    }
}
