.sidebar-shrink {
    width: 16rem !important;
}

.sidebar-expand {
    width: 6rem !important;
}

.theme-options {
    display: none !important;
}

.theme-options.active {
    display: block !important;
}

@media (max-width: 768px) {
    .sidebar-expand {
        transform: translateX(-100%) !important;
    }
}
